@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

// colors

// $blue: #a1c3d1;
// $purple: #b39bc8;
// $purple-dark: #a82d92;
// $off-white: #f0ebf4;
// $pale-pink: rgb(241, 114, 161);
// $pink: #e64398;

$purple :#501f3a;
$purple-light : #c38d9e;
$pink: #cb2d6f;
$cream: #eee;
$cream-light: #f7f7f7;
$cream-dark:#ddd ;
$blue:#75d8d5;
$blue-dark: #3ba395;

$orange: #e27d60;
$orange-light: #e8a87c;

$orange-pink: #ec848b;



$grey-light: rgb(185, 185, 185);
$color-text: rgb(20, 20, 20);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    overflow-x: hidden;
    
    font-size: 62.5%; // 1 rem = 10 px (browser default is 16)
    font-size: 12px; // i accidently did all my css with 12px fz for some reason.

    @media (max-width: 1200px) {
        font-size: 62.5%; // 1 rem = 10 px (browser default is 16)
    }

    @media (max-width: 1000px) {
        font-size: 56.75%; // 1 rem = 9 px (browser default is 16)
    }

    @media (max-width: 800px) {
        font-size: 50%; // 1 rem = 8 px (browser default is 16)
    }

    @media (max-width: 700px) {
        font-size: 43.75%; // 1 rem = 8 px (browser default is 16)
    }

    @media (max-width: 400px) {
        // font-size: 40%; // 1 rem = 7 px (browser default is 16)
    }
}

body {
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;

    background-image:  linear-gradient(to right bottom, 
                        rgba($blue-dark, .8),
                        rgba($blue, .9)), 
                        url("img/wood-bg.jpg");
    background-size: cover;

    font-family: lato, sans-serif;
    font-size: 1.6rem;
    color: $color-text;
    word-wrap: break-word;
}

li {
    list-style: none;
}
