// ###########################################
// components
// ###########################################



// ###########################################
// a single to do item
// ###########################################

.todo {
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 1rem;
    margin-bottom: 1rem;

    background-color: #eee;
   
    // name of to do item
    &__title {
        margin-right: 2rem;
        margin-right: auto;

        font-weight: 300;

        // modified styling for when the item has been checked off
        &-checked {
            color: rgb(141, 141, 141);
            text-decoration: line-through;
        }
    }

    // button that displays to-do details
    &__detail {
        position: relative;

        margin-right: 2.5rem;
        padding: .5rem 1rem;
        border: 1px solid $blue-dark;
        border-radius: 3px;

        font-size: 1rem;
        color: $blue-dark;
        text-transform: uppercase;
        font-weight: 700;
        
        cursor: pointer;
        transition: all .3s;
        

        &:hover {
            position: relative;
            background-color: $blue-dark;
            color: white;
        }

        // modified styling for when the item has been checked off
        &-checked {
            border: 1px solid rgba($blue-dark, .5);
            color: rgba($blue-dark, .5);
            
            &:hover {
                border: 1px solid rgba($blue-dark, 0);
                background-color: rgba($blue-dark, .5);
            }
        }

       
    }

    // to-do item due date
    &__date {
        margin-right: 2rem;
        width: 4.5rem;
        
        font-size: 1rem;
        color: $purple;

        // modified styling for when item is checked off
        &-checked {
            color: rgba($purple, .5);
        }
    }

    // check box for when the to-do item has been complete
    &__complete {
        margin-right: 1.5rem;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 3px;
        border: 2px solid $blue-dark;
        
        // modified styling for when the item has been checked off
        &-checked {
            height: 1.5rem;
            width: 1.5rem;
            display: block;
           
            background: url('img/check.png'), $blue-dark;
            background-repeat: no-repeat;
            background-size: contain;
        }

        
    }

    // trash can icon that deletes to-do item
    &__icon {
        width: 1.5rem;
        height: 1.5rem;

        fill: $purple;

        // pointer-events: none;
        cursor: pointer;
        transition: all .2s;

        // margin fothe edit icon
        &-edit {
            margin-right: 2rem;
        }

        &:hover {
            fill: $blue-dark;
        }

        // modified styling for when the item has been checked off
        &-checked {
            fill: rgba($purple, .4);
            &:hover {
                fill: rgba($blue-dark, .5);
            }
        }

        
    }

    // to-do item pops out when hovered
    &:hover {
        transform: scale(1.003);
        transform-origin: 50% 50%;
        box-shadow: 3px 3px 5px 2px rgba(0,0,0,.2);
        transition: all .2s ease-out;
    }
    
}

// to-do priority level is conveyed through a left border on the to-do item
.priority {
    &-low {
        border-left: 3px solid green;
    }
    &-medium {
        border-left: 3px solid orange;
    }
    &-high {
        border-left: 3px solid red;
    }
}

// #################################################
// screen shown after a new empty project is created
// #################################################

.add-or-remove {

    display: flex;
    flex-direction: column;
    align-items: center;

    color: $color-text;
    font-size: 2rem;
    
    &__heading {
        margin-bottom: 2.5rem;
       font-size: 2.8rem; 
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;


        &-text {
            margin-bottom: 2rem;
        }

        &-btn {
            position: relative;
    
            display: inline-block;
            padding: .5rem 1rem;
            border: 1px solid $purple;
            border-radius: 3px;
    
            font-size: 1.3rem;
            color: $purple;
            text-transform: uppercase;
            font-weight: 700;
            
            cursor: pointer;
            transition: all .3s;
            
    
            &:hover {
                position: relative;
                background-color: $purple;
                color: white;
            }
            
        }
    }

}