
// ##########################################
// main page navigation
// ##########################################

.nav {
    font-size: 2rem;
    font-weight: 300;

    list-style: none;
    
    // navigation list item
    &__item {
        width: auto;
        
        margin-bottom: 1rem;
        padding: .5rem 1.5rem;
        // alternate nave selection effect
        //border-left: 3px solid transparent;

        // notes button
        &:last-child {
            cursor: pointer;
        }

        

        &:hover {
            // border-left: 3px solid $purple-light;
            // border-radius: 3px;
            color: $purple;
            font-weight: normal;
            &::before {
                content: "//";
                margin-right: .7rem;
                font-weight: 700;
            }
        }

        // list item containing a title and a sublist of projects
        &--projects {
            padding: 0;
            
            &:hover {
                //border-left: 3px solid transparent;
                color: $color-text;
                font-weight: 300;
                &::before {
                    content: "";
                    margin-right: 0px;
                }
            }
            
            // "Projects" title
            &-title {
                // margin-left: -1px;
                padding: .5rem 1.5rem;
                display: block;
                //border-left: 3px solid transparent;
                //border-radius: 3px;

                

                &:hover {
                    //border-left: 3px solid $purple-light;
                }
            }
        }

        &--link {
            cursor: pointer;
        }

    }

    // the current selected list item
    &__selected {
        //border-left: 3px solid $purple-light !important;
        //border-radius: 3px;
        color: $purple;
        font-weight: normal;
        &::before {
            content: "//";
            margin-right: .7rem;;
            font-weight: 700; 
        }
        

    }

}

// projects sub list
.projects {
    margin-left: 2rem;
    margin-right: -4rem;
    margin-top: 1rem;
    max-height: 15rem;
    overflow: hidden;
    overflow-y: overlay;
    overflow-wrap: break-word;
    word-wrap: break-word;

    font-size: 1.7rem;

    list-style: none;
    
    // projects list item
    &__item {
        padding: .4rem .8rem;
        // border-left: 3px solid transparent;
        overflow-wrap: break-word;
        word-wrap: break-word;

        

        &:hover {
            // border-left: 3px solid $purple-light;
            // border-radius: 3px;
            color: $purple;
            font-weight: normal;
            &::before {
                content: "//";
                margin-right: .7rem;
                font-weight: 700; 
            }
        }
        &:not(:last-child) {
            
            margin-bottom: 1rem;
        }
    }

    // custom scrollbar
    /* width */
    &::-webkit-scrollbar {
        width: 6px;
        
        }
      
        /* Track */
        &::-webkit-scrollbar-track {
            background: $cream;
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $purple-light;
            border-radius: 5px;
        }
        
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: rgba($purple, .8);
        }
}



// button to create new todo / project / note
.new-todo {
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4px;
    border-radius: 50%;

    background-color: $purple-light;

    font-size: 5rem;
    line-height: 5rem;
    color: $cream;

    box-shadow: .2rem .5rem 1rem rgba(0,0,0,.4);
    cursor: pointer;
    
    // effects to simulate a button being pressed
    &:active {
        transform: translateY(2px);
        box-shadow: .1rem .3rem .5rem rgba(0,0,0,.4);
    }

    @media (max-width: 550px) {
        margin-left: auto;
    }
}

// cirlce with number of items in each project
.home-count,
.today-count,
.week-count,
.project-count {
    // margin-right: 1rem;
    width: 2rem;
    height: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    border: 1px solid $purple-light;
    background-color: $purple-light;
    border-radius: 50%;

    font-size: 1.3rem;
    font-weight: 700;
    color: $cream-light;

    pointer-events: none;
}

// cirlce with number of items in each custom project
.project-count {
    margin-right: 4.6rem;
}

.project-name {
    cursor: pointer;
    max-width: 60%;
    margin-right: auto;
    
    
}

// container around the home / week / today project name and count
.project-count-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// container around custom project names and count
.custom-project-count-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// ##################################
// mobile hamburger menue button
// ##################################

.menu-btn {
    background-color: transparent;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 5rem;
    margin-right: 10px;
    
    text-align: center;
    cursor: pointer;

    @media (max-width: 550px) {
        display: flex;

    }

    //icon
    &__icon {
        position: relative;
        // margin-top: 3.3rem;
        &,
        &--before,
        &--after {
            width: 3rem;
            height: 2px;
            background-color: $cream-light;
            display: block;
        }

        &--before,
        &--after {
            content: "";
            position: relative;
            transition: all .2s;
        }

        &--before {top: -.8rem;}
        &--after {top: .9rem;}

        &--checked-top {
            transform: rotate(135deg);
            background-color: black;
            // top: 0;
        }

        &--checked-middle {
            background-color: transparent;
        }
    
        &--checked-bottom {
            transform: rotate(-135deg);
            // top: 0;
        }
    }

}

// notes naveigation link
#notes-nav {
    margin-top: -8px;
}

// week navigation link
#week-nav {
    margin-left: 1px;
}